%p#notice= notice
%p
  %strong Image url:
  = @comment.image_url
%p
  %strong Body:
  = @comment.body
%p
  %strong User:
  = @comment.user_id
%p
  %strong Battle:
  = @comment.battle_id
%p
  %strong Comment:
  = @comment.comment_id
= link_to 'Edit', edit_comment_path(@comment)
|
= link_to 'Back', comments_path
