%p#notice= notice

.row
  %h1.battles_header Battles
  - if User.current_winner == current_user
    = link_to "New battle", new_battle_path, class: "button"

.row
  - unless @current_battle.nil?
    = link_to @current_battle do
      .callout.large-12.columns.ghost-button
        %h1= @current_battle.topic
        = text_with_images(@current_battle.description)

-@battles.each_slice(3) do |row|
  - row.each do |battle|
    = link_to battle, class:"boxy medium-6 large-4 columns" do
      .panel
        %h4= battle.topic
        = text_with_images battle.winning_comment.image, true
