.row
  %h1.battles-header Battles
  - if User.current_winner == current_user
    = link_to "New battle", new_battle_path, class: "button"

.row
  - unless @current_battle.nil?
    = link_to @current_battle do
      .small-12
        .panel
          %h1= @current_battle.topic
          = text_with_images @current_battle.description, true

.row
  -@battles.each do |battle|
    = link_to battle, class:"boxy medium-4 large-4 small-12 columns" do
      .panel
        %h4= battle.topic
        = text_with_images battle.winning_comment.image, true
