%p#notice= notice

.row
  %h1 Battles
  - if User.current_winner == current_user
    = link_to "New battle", new_battle_path, class: "button"

.row
  - unless @current_battle.nil?
    = link_to @current_battle do
      .callout.large-12.columns.ghost-button
        %h1= @current_battle.topic
        = text_with_images(@current_battle.description)

.row
  - @battles.each do |battle|
    = link_to battle, class:"fuck-foundation" do
      %h4= battle.topic
      = image_tag battle.winning_comment.image, class: "thumbnail"
