%p#notice= notice

%h1= "Topic: #{@battle.topic}"

%h2= text_with_images @battle.description

%p
  %strong Created by:
  = @battle.created_by.full_name

- @comments.each do |comment|
  = render partial: "comment", locals:{comment:comment, battle:@battle}

- unless @battle.won?
  = form_for(@comment) do |f|
    - if @comment.errors.any?
      #error_explanation
        %h2= pluralize(@comment.errors.count, "error")
        %ul
          - @comment.errors.full_messages.each do |message|
            %li= message
    .field
      = f.text_area :body, placeholder: "Write your comment here"
    .field= f.hidden_field :battle_id, value: @battle.id
    .actions= f.submit
