.row
  .battle-header.large-12.columns{class: "#{@battle.won? ? "open-thread" : "won-thread"}"}
    .row
      .small-2.columns
        .user-section
          = image_tag(@battle.created_by.avatar_url, class: "avatar")
          %br
          %strong= @battle.created_by.full_name
      .columns{class: "#{@battle.won? ? "small-8" : "small-10"}"}
        %h1= @battle.topic
        %h3= text_with_images @battle.description
      - if @battle.won?
        .columns.small-2
          %strong WINNER:
          = text_with_images @battle.winning_comment.image, true

- @comments.each_with_index do |comment, i|
  = render partial: "comment", locals:{comment:comment, battle:@battle, depth:0, index:i%2}

- unless @battle.won?
  .row
    .comment{class: "color-#{@comments.length % 2}"}
      = form_for(@comment) do |f|
        - if @comment.errors.any?
          #error_explanation
            %h2= pluralize(@comment.errors.count, "error")
            %ul
              - @comment.errors.full_messages.each do |message|
                %li= message
        .field= f.hidden_field :battle_id, value: @battle.id
        .field= f.text_field :body, placeholder: "Write your comment here"
