!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= "Gifwar! #{yield(:title) if content_for?(:title)}"

    = stylesheet_link_tag "application"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tag

  %body
    .off-canvas-wrapper
      .off-canvas-wrapper-inner{:"data-off-canvas-wrapper" => true}
        #off-canvas-left-menu.off-canvas.position-left{:"data-off-canvas" => true}
          .text-center
            - if current_user.nil?
              = link_to "Sign In", new_user_session_path
            - else
              = image_tag current_user.avatar_url
              = link_to "Edit #{current_user.full_name}", edit_user_registration_path
              | 
              = link_to "Sign Out", destroy_user_session_path, method: :delete
          - if user_signed_in?
            %ul.vertical.menu{:"data-accordion-menu" => true}
              %li
                = link_to "SCOREBOARD", "#"
                %ul.menu.vertical.nested
                  - @menu_scores.each do |score|
                    %li= link_to "#{score.full_name}: #{score.battles_won.count}", "#"
              %li
                = link_to "RECENT BATTLES", battles_path
                %ul.menu.vertical.nested
                  - @menu_battles.each do |battle|
                    %li= link_to "#{battle.topic.upcase}", battle_path(battle)
              %li
                = link_to "MOST COMMENTED", "#"
                %ul.menu.vertical.nested
                  - @menu_commented_battles.each do |commented_battle|
                    %li= link_to "#{commented_battle.topic.upcase}: #{commented_battle.comments.count}", battle_path(commented_battle)
        .off-canvas-content{:"data-off-canvas-content" => true}
          %button.button{type: 'button', :"data-toggle" => "off-canvas-left-menu"}= fa_icon 'bars'
          .row
            .small-12
              = yield
