!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= "Gifwar! #{yield(:title) if content_for?(:title)}"

    = stylesheet_link_tag "application"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tag

  %body
    .row
      .small-12
        %nav
          - if current_user.nil?
            = link_to "Sign In", new_user_session_path
          - else
            = current_user.full_name
            = link_to "Sign Out", destroy_user_session_path, method: :delete
    .row
      .small-12
        = yield